@media (max-width:767px) {

    .welcome {
        padding-top: 100px;
    }

    .main-btn-container {
        width: 400px;
        max-width: 80%;
        margin: 0 auto;
    }

    .main-btn {
        display: block;
    }
}


@media (max-width: 650px) {
    .break-main-text-1, .break-main-text-2 {
        display: block;        
    }

    .section-schedule, .section-calories {
        padding-left: 25%;
    }

    .break-menu {
        display: block;
    }
}

@media (max-width: 480px) {
    .section-schedule, .section-calories {
        padding-left: 20%;
    }

    .break-menu-sum {
        display: block;
    }
    
    .all-calories, .all-protein {
        font-weight: light;
    }
}